language: node_js
# Run tests against latest node and current long term support node. Only the LTS
# job is used for `npm publish`, since we don't want to publish the package
# twice (that would cause an error).
os: linux
dist: focal
node_js:
  - 20
cache:
  npm: true
before_install:
  - npm i -g npm@9.8.1
  # Install pyenv
  - export PATH="$HOME/.pyenv/bin:$HOME/.pyenv/shims:$HOME/.pyenv/plugins/pyenv-virtualenv/bin:$PATH"
  - eval "$(pyenv init -)"
  - eval "$(pyenv virtualenv-init -)"
 
  # Install required build dependencies for Python
  - sudo apt-get update
  - sudo apt-get install -y make build-essential libssl-dev zlib1g-dev \
    libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm \
    libncurses-dev xz-utils tk-dev libffi-dev liblzma-dev git
 
  # Install Python 3.14 (or fallback to 3.13 if 3.14 fails)
  - pyenv install 3.14.0
  - pyenv global 3.14.0
  - python --version
  # Decrypt Google Cloud Storage credentials
  - openssl aes-256-cbc -K $encrypted_9888058ce616_key -iv $encrypted_9888058ce616_iv -in gcs-key.json.enc -out gcs-key.json -d
install:
  - npm ci
# "test" is actually ESLint + Prettier. Cypress tests are the only real tests in
# the repo right now.
script:
  - npm test
  - npm run build
  - npm run travis-cypress
deploy:
  # Copy the files in `gcs-files/` to Google Cloud Storage. This is used for
  # static assets, namely a lot of images.
  - provider: gcs
    # Opting in to dpl v2 (edge) which will be released soon
    # https://docs.travis-ci.com/user/deployment-v2
    edge: true
    key_file: gcs-key.json
    bucket: files.meridianapps.com
    acl: public-read
    local_dir: gcs-files
    upload_dir: meridian-web-sdk
    on:
      tags: true
    # Update GitHub pages for the documentation and demos
  - provider: pages:git
    # Opting in to dpl v2 (edge) which will be released soon
    # https://docs.travis-ci.com/user/deployment-v2
    edge: true
    local_dir: docs
    # This is a Personal Access Token with the permission `repo_public`
    # (https://github.com/settings/tokens) for a user with read+write permission
    # to the repo (https://github.com/arubanetworks/meridian-web-sdk)
    token: $GITHUB_TOKEN
    on:
      tags: true
  # Publish to npm
  - provider: npm
    # Opting in to dpl v2 (edge) which will be released soon
    # https://docs.travis-ci.com/user/deployment-v2
    edge: true
    email: $NPM_EMAIL
    api_token: $NPM_TOKEN
    tag: latest
    on:
      tags: true
notifications:
  slack:
    secure: GbrgufadOx658Sd0JZirSSRELPio4D4cKu3jBq1VUl5IDZObQlVO2of1Yz2hL/RghCkXt2OmwXyW9AFheawfvaItqi12heJ1nOySQMYgUswD1GsBiIKm6ClnSjqLgf+Rut8VErqoM8N/M1EBPW420M4S9JPhJAs7gBzCUzM1PnYO3wO8GD+hi93cPjvtw+roAZvqTdhXuIMrGI1qN0NkItWv5O67qkOsXFpF5JRWP8tyU/m5mOoerc1+NIjjc6qjTZtsjHAMolkK/iobEqEDJZgM/izJmSNyJO8KXu8x6EE5bylnv41a4twcw46D6cSsGLjrvHM4AdC1lZyVeplKFDbpWUknYTwg4LywNVPmYAzJF0KOQt9ifIvM/rk7RNRnesevmNCUahKKxZQ7LemneLiRn3RdPkPGCqKdUBBiOdpHoJcrwCKgeSa3Y+BXFNIzVnvzLCCL2cqNeF0/icBGbOhRFMmbsONKNndm8QVwXLL/TUO7z+DwvBGirreEUv38sEcTF/moM+PVNHP21qkvNbZuazDXVpL8XbBctn2Vl8ICcxy/lOW1k7XP/KA6FiKErV4lDV9VaKdLwI7qsCzCzSvPlhQykG6poEby+hDxeytKqnK/2E9yQjy6WpOs0H/54u94Zstxdt7U08Kj5U/gDRHE10zcSJP+4ZgNpIB8eEE=
