body {
  font-family: sans-serif;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  max-width: 100%;
  border: 0;
}

.directions-overlay {
  box-shadow: 0 0 3px rgb(0 0 0 / 25%);
  border-radius: 6px;
  background: white;
  color: #1b1b1b;
  fill: #000;
  position: absolute;
  margin: 0;
  left: 15px;
  top: 15px;
  right: 15px;
  max-height: 500px;
  z-index: 2;
  max-width: 400px;
  padding: 20px;
  /* margin-left: auto; */
  color: #666;
}

.directions-overlay strong {
  color: #98c379;
}
.directions-overlay p {
  margin: 10px 0;
}

.directions-overlay em {
  color: #d19a66;
}

.route-actions {
  margin-top: 20px;
}

#route-continue {
  float: right;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
}
