body {
  font-family: sans-serif;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  max-width: 100%;
  border: 0;
}

.directions-overlay {
  box-shadow: 0 0 3px rgb(0 0 0 / 25%);
  border-radius: 6px;
  background: #2e2e2e;
  color: #fafafa;
  /* fill: #000; */
  position: absolute;
  margin: 0;
  left: 15px;
  top: 15px;
  z-index: 2;
  width: 350px;
  padding: 20px;
  /* color: #666; */
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
}
