body {
  font-family: Georgia, serif;
  margin: 0 auto;
  padding: 30px;
  max-width: 800px;
  font-size: 22px;
}

pre {
  line-height: 0;
}

a {
  color: hsl(240, 100%, 40%);
  background: hsla(240, 100%, 40%, 0.05);
}

a:hover {
  color: hsla(240, 100%, 40%, 0.6);
}

code {
  font-family: Input, Menlo, Consolas, monospace;
  font-size: 18px;
  padding: 2px;
  background: hsla(0, 100%, 40%, 0.05);
  color: hsla(0, 100%, 40%, 1);
}

.hljs {
  font-size: 16px;
  padding: 16px;
  border-radius: 4px;
  line-height: 1.35;
}

li li,
li + li {
  margin-top: 0.5em;
}

li,
p {
  line-height: 1.5;
}

h1 {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  border-top: 2px solid #ddd;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 20px;
}

h1 a,
h2 a {
  text-decoration: none;
  color: inherit;
  background: inherit;
}

h1 a:hover,
h2 a:hover {
  opacity: 0.6;
  color: inherit;
  text-decoration: underline;
}
