.back {
  position: fixed;
  display: block;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom-right-radius: 8px;
  padding: 1em;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  text-shadow: 0 1px white;
  font-family: sans-serif;
  font-weight: bold;
  z-index: 1;
}
