.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-0 {
  flex: 0 0 0;
}

.dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #222;
  color: #eee;
  z-index: 2;
  overflow-y: auto;
  font-size: 16px;
  font-family: sans-serif;
}

.dialog .heading {
  padding-right: 16px;
  font-size: 24px;
  font-weight: bold;
}

.dialog .section {
  padding: 32px 16px;
}

.dialog .top-bar {
  z-index: 1;
  box-shadow: 0 0 32px black;
}

.dialog pre {
  margin: 0;
  font-family: Input, Menlo, Consolas, monospace;
  overflow: auto;
}

.dialog .close {
  padding: 8px 16px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 4px;
  background: #ccc;
  border: 0;
  color: #000;
  width: 100%;
  font-weight: bold;
}

.dialog .close:hover {
  background: #fff;
}

.dialog .close:focus {
  box-shadow: 0 0 0 2px black, 0 0 0 4px white;
  background: #eee;
  outline: 0;
}

.back {
  font-size: 16px;
  position: fixed;
  display: flex;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border-radius: 6px;
  bottom: 15px;
  left: 15px;
  background: white;
  color: hsl(240, 100%, 60%);
  font-family: sans-serif;
  z-index: 1;
  overflow: hidden;
}

.back > a {
  text-decoration: none;
  color: inherit;
}

.back > button {
  flex: 1 1 auto;
  padding: 6px 12px;
  margin: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
}

.back > button:hover {
  background: #f8f8f8;
}

.back > button:active {
  background: #f0f0f0;
}

.back > button:focus {
  outline: 0;
}

.back > .separator {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.button {
  --color: hsl(240, 80%, 60%);
  background: var(--color);
  color: white;
  border: 0;
  font: inherit;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-shadow: 0 1px 1px black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.button:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
}

.button:active {
  transform: scale(0.98);
}

.button-red {
  --color: hsl(0, 100%, 40%);
}

.gap {
  --size: 1rem;
  width: 1rem;
  height: 1rem;
  display: block;
}

select {
  font-size: 18px;
}

body {
  font-family: sans-serif;
  background: #fdfdfd;
  color: #222;
}
