.back {
  font-size: 16px;
  position: fixed;
  display: block;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-radius: 6px;
  padding: 8px 16px;
  bottom: 16px;
  left: 16px;
  background: rgba(255, 255, 255, 0.9);
  color: #26e;
  font-family: sans-serif;
  z-index: 1;
}

.back::before {
  content: "⬅ ";
}

.back:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  background: white;
}
