body {
  font-family: sans-serif;
}

.map {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 350px);
  height: 100vh;
}

.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  box-sizing: border-box;
  width: 350px;
  height: 100%;
  display: flex;
  background: hsl(210, 50%, 98%);
  color: hsl(210, 80%, 30%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h2 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  padding-top: 0;
}

h3 {
  margin-top: 0px;
}

.marker-img {
  width: 100%;
  border-radius: 4px;
}

.meridian-placemark-icon:focus {
  height: 30px;
  width: 30px;
}

.meridian-tag:focus {
  height: 60px;
  width: 60px;
}
