button {
  background: darkorange;
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  border: 0;
  border-radius: 0.125em;
  padding: 0.5em 1em;
}

button:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05));
}

button:focus {
  outline: 0;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.5);
}

:host {
  display: inline-block;
}
