body {
  font-family: sans-serif;
  padding: 20px;
  margin: 0 auto;
}

.controls {
  margin-left: 20px;
  margin-bottom: 20px;
  background: hsl(210, 50%, 98%);
  color: hsl(210, 80%, 30%);
  border: 1px solid hsl(210, 30%, 80%);
}

.controls__item {
  display: block;
  padding: 16px 8px;
  user-select: none;
}

.controls__item > span {
  margin-left: 4px;
}

.controls__item + .controls__item {
  border-top: 1px solid hsl(210, 30%, 90%);
}

.controls__item:hover {
  background: hsl(210, 50%, 95%);
}

.map {
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
}
