body {
  font-family: sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.map {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 400px);
  height: 100vh;
}

.controls-container {
  box-sizing: border-box;
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.2);
  background: hsl(210, 30%, 92%);
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.controls {
  margin-bottom: 20px;
  background: hsl(210, 50%, 98%);
  color: hsl(210, 80%, 30%);
  border: 1px solid hsl(210, 30%, 80%);
  border-radius: 4px;
  overflow: hidden;
}

.controls__item {
  display: flex;
  padding: 16px 8px;
  user-select: none;
  align-items: baseline;
}

.controls__item > span {
  margin-left: 10px;
}

.controls__item + .controls__item {
  border-top: 1px solid hsl(210, 30%, 90%);
}

.controls__item:hover {
  background: hsl(210, 50%, 95%);
}

@media only screen and (max-width: 900px) {
  .container {
    max-width: 340px;
    width: auto;
    margin: 0 auto;
  }
  .controls-container {
    float: none;
    margin: 10px 0 0 0;
    width: 100%;
    max-width: auto;
  }

  .map {
    float: none;
    width: 100%;
  }
}
